/* Global styles and typography */
:root {
  --main-bg-color: white;
  --main-tx-color: #f7f1e9;
  --about-tx-color: #02000c;
  --footer-bg-color: #e8e2d9;
  --hover-color: black;
  --search-color: #ccc;
  --contact-color: #555;
  --button-color: #c28728;
  --button-click-color: #563b00;
  --footer-tx-color: #363636;
  --modal-bg-color: rgba(0, 0, 0, 0.4);
}

* {
    text-decoration: none;
    font-family: libre baskerville, source serif pro, noto serif, serif;
    color: var(--about-tx-color);
    list-style: none;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

h2, h3 {
    margin-bottom: 8px;
}

p {
    font-size: 20px;
}

a {
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
    color: var(--hover-color);
}

label {
    font-size: 18px;
    font-weight: bold;
}

/* Layout */
html,
body {
    margin: 0;
    padding: 0;
}

header {
    padding: 0px 50px 25px 50px;
    background-color: var(--main-bg-color);
}

main {
    padding: 20px 170px;
}

footer {
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 170px;
    background-color: var(--footer-bg-color);
    justify-content: center;
}

/* Header */
.logo {
    display: flex;
    align-items: center;
    margin-top: 25px;
    justify-content: flex-start;
}

#favicon {
    height: 65px;
    width: 65px;
    margin-right: 20px;
}

.menu {
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: flex-end;
}

.menu a {
    font-size: 1.3em;
    vertical-align: bottom;
    text-align: center;
    padding: 1em;
    padding-bottom: 0px;
}

.dropMenu {
    display: none;
}

.top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

#basket {
    height: 50px;
    width: 50px;
    margin-left: 20px;
}

/* Footer */
.footer {
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

div.copyright p {
    font-size: 17px;
    color: var(--footer-tx-color);
    margin: 5px 0px;
}

.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.links a {
    display: flex;
    align-items: center;
    color: var(--hover-color);
    margin: 0 10px;
}

.links img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

/* Home-main */
.mainPhoto {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.welcome {
  text-align: center;
}
#trending {
  border-top-width: 0.8px;
  border-top-style: solid;
  padding-top: 15px;
  margin: 25px 0px;
}
#trendProducts {
  padding-bottom: 20px;
}

/* Home-paper */
.paper-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
}

.paper {
  position: absolute;
  top: -100px;
  left: 0;
  animation-name: falling;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes falling {
  0% {
    transform: translateY(-100px);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

/* Shop-main */
.shopping {
    padding-bottom: 20px;
}

/* Search form */
.search {
  padding-bottom: 40px;
}
label {
  margin-right: 5px;
  font-weight: bold;
  font-size: 20px;
}
input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--search-color);
  margin-right: 8px;
  width: 170px;
  font-size: 18px;
}
select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--search-color);
  margin-right: 5px;
  font-size: 18px;
}
button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--button-color);
  color: var(--main-bg-color);
  font-size: 20px;
  cursor: pointer;
}
button:hover {
  background-color: var(--button-click-color);
}

/* Products */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 30px;
  padding: 0;
  margin: 0;
}
.products li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.products h3, p {
  margin-top: 0;
  margin-bottom: 15px;
}
.products img {
  max-width: 100%;
  padding-bottom: 15px;
}

.products a:hover img {
  transform: scale(1.05);
  -webkit-filter: brightness(110%);
}
.products span {
  font-weight: bold;
  color: var(--contact-color);
}

/* About-main */
.about {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
/* Contact me */
.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 20px 0px;
  padding-top: 15px;
}
.contactMe h2 {
  font-size: 26px;
  margin: 15px 0px 6px 0px;
}
.contact-info {
  margin-bottom: 10px;
}
.contact-info strong {
  margin-right: 10px;
  font-weight: normal;
  font-size: 19px;
}
.contact-info a {
  color: var(--contact-color);
  text-decoration: none;
}
.contact-info a:hover {
  text-decoration: underline;
}
.contact-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.contact-info li {
  margin-bottom: 10px;
}
.contact-info li a {
  color: var(--contact-color);
  text-decoration: none;
}
.contact-info li a:hover {
  text-decoration: underline;
}
.leaveInfo form {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 350px;
}
.leaveInfo label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
}
.leaveInfo input, .leaveInfo textarea {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid var(--search-color);
  width: 300px;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--modal-bg-color);
}
.modal-content {
  background-color: var(--main-bg-color);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid var(--contact-color);
  width: 80%;
}
.close {
  color: var(--search-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover,
.close:focus {
  color: var(--about-tx-color);
  text-decoration: none;
  cursor: pointer;
}

/* Product pages */
.backShop {
  grid-area: a;
  padding-bottom: 20px;
}
.zoom {
  position: absolute;
  width: 80px;
  color: var(--main-tx-color);
  margin: 180px 0px 0px 130px;
}
.oneProduct {
  width: 350px;
  padding-right: 20px;
  grid-area: b;
  position: relative;
}
.oneProduct:hover {
  -webkit-filter: brightness(60%);
}
.productInfo {
  grid-area: c;
}
.productPage {
  display: grid;
  grid-template:
  "a a"
  "b c";
}
#productFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Media queries */
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  #basketMenu {
    height: 10px;
    width: 10px;
    padding-right: 5px;
  }
  #menuDrop {
    height: 30px;
    width: 30px;
    padding-right: 40px;
    padding-top: 35px;
  }
  button.dropbtn:hover {
    background-color: var(--main-bg-color);
  }
  .dropMenu {
    display: inline-block;
    text-align: right;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    text-align: left;
  }
  .dropbtn {
    text-align: right;
    background-color: transparent;
    color: var(--about-tx-color);
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--main-bg-color);
    min-width: 100px;
    box-shadow: 0px 8px 15px 0px var(--hover-color);
    z-index: 1;
  }
  .dropdown-content a {
    color: var(--about-tx-color);
    padding: 12px 15px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: var(--main-tx-color);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  } 
}
@media only screen and (max-width: 1200px) {
  header {
    padding: 0px 70px 25px 70px;
  }
  main {
    padding: 0px 70px;
  }
  footer {
    padding: 10px 70px;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 800px) {
  header {
    padding: 0px 30px 25px 30px;
  }
  main {
    padding: 0px 30px;
  }
  footer {
    padding: 10px 30px;
  }
}
@media only screen and (max-width: 550px) {
  header {
    padding: 0px 10px 25px 10px;
  }
  main {
    padding: 0px 10px;
  }
  footer {
    padding: 10px 10px;
  }
}
@media only screen and (max-width: 330px) {
  header {
    padding: 0px 0px 25px 0px;
  }
  main {
    padding: 0px 5px;
  }
  footer {
    padding: 0px 5px;
  }
}
