/* Global styles and typography */

* {
    text-decoration: none;
    font-family: libre baskerville,source serif pro,noto serif,serif;
    color: #02000c;
    list-style: none;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

h2,h3 {
    margin-bottom: 8px;
}

p {
    font-size: 20px;
}

a {
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
    color: black;
}

label {
    font-size: 18px;
    font-weight: bold;
}

/* Layout */

html, body {
    margin: 0;
    padding: 0;
}

header {
    padding: 0px 50px 25px 50px;
    background-color:  #ffffff;
}

main {
    padding: 20px 170px;
}

footer {
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 170px;
    background-color:  #e8e2d9;
    justify-content: center;
}

@media only screen and (max-width: 1200px) {
    header {
        padding: 0px 70px 25px 70px;
    }
    
    main {
        padding: 0px 70px;
    }

    footer {
        padding: 10px 70px;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 800px) {
    header {
        padding: 0px 30px 25px 30px;
    }
    
    main {
        padding: 0px 30px;
    }

    footer {
        padding: 10px 30px;
    }
}
  
@media only screen and (max-width: 550px) {
    header {
        padding: 0px 10px 25px 10px;
    }
    
    main {
        padding: 0px 10px;
    }

    footer {
        padding: 10px 10px;
    }
}

@media only screen and (max-width: 330px) {
    header {
        padding: 0px 0px 25px 0px;
    }
    
    main {
        padding: 0px 5px;
    }

    footer {
        padding: 0px 5px;
    }
}

/* Header */

.logo {
    display: flex;
    align-items: center;
    margin-top: 25px;
    justify-content: flex-start;
}

#favicon {
    height: 65px;
    width: 65px;
    margin-right: 20px;
}

.menu {
    display:flex;
    font-size: 19px;
    align-items: center;
    justify-content: flex-end;
}

.menu a {
    font-size:1.3em;
    vertical-align:bottom;
    text-align:center;
    padding:1em;
    padding-bottom: 0px;
}

.top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
  
@media screen and (max-width: 800px) {
    .top {
      grid-template-columns: 1fr;
    }
    .logo, .menu {
      justify-content: center;
    } 
}

/* Footer */

.footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

div.copyright p  {
    font-size: 17px;
    color: #363636;
    margin: 5px 0px;
}
  
.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
  
.links a {
    display: flex;
    align-items: center;
    color: #000;
    margin: 0 10px;
}
  
.links img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

/* Home-main */

main .welcome {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#home main {
    background-image: url("photos/mainPage.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

div.welcome h2 {
    color:  #f7f1e9;
    font-size: 25px;
}

div.welcome p {
    color:  #f7f1e9;
    font-size: 22px;
}

/* Shop-main */

.shopping {
    padding-bottom: 20px;
}

/* Search form */

.search {
    padding-bottom: 20px;
}

label {
    margin-right: 5px;
    font-weight: bold;
    font-size: 20px;
}
  
input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 8px;
    width: 170px;
    font-size: 18px;
}
  
select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 5px;
    font-size: 18px;
}
  
button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #c28728;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
  
button:hover {
    background-color: #563b00;
}

/* Products */

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    padding: 0;
    margin: 0;
}
  
.products li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
  
.products h3, p {
    margin-top: 0;
    margin-bottom: 10px;
}
  
.products img {
    max-width: 100%;
    padding-bottom: 15px;
}
  
.products span {
    font-weight: bold;
}

/* About-main */

/* Contact me */

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px 0px;
    border-top-width: 1px;
    border-top-style: solid;
    padding-top: 15px;
}
  
.contactMe h2 {
    font-size: 26px;
    margin: 15px 0px 6px 0px;
}
  
.contact-info {
    margin-bottom: 10px;
}
  
.contact-info strong {
    margin-right: 10px;
    font-weight: normal;
    font-size: 19px;
}
  
.contact-info a {
    color: #555;
    text-decoration: none;
}
  
.contact-info a:hover {
    text-decoration: underline;
}
  
.contact-info ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.contact-info li {
    margin-bottom: 10px;
}
  
.contact-info li a {
    color: #555;
    text-decoration: none;
}
  
.contact-info li a:hover {
    text-decoration: underline;
}

.leaveInfo form {
    display: flex;
    flex-direction: column;
}
  
.leaveInfo label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}
  
.leaveInfo input, .leaveInfo textarea {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}